USE [master]
GO
/****** Object:  Database [IrisaSpecialBonus]    Script Date: 11/21/2025 10:00:02 PM ******/
CREATE DATABASE [IrisaSpecialBonus]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SpecialBonus', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SpecialBonus.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SpecialBonus_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SpecialBonus_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IrisaSpecialBonus].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IrisaSpecialBonus]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 11/21/2025 10:00:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11/21/2025 10:00:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11/21/2025 10:00:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11/21/2025 10:00:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](256) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11/21/2025 10:00:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11/21/2025 10:00:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 11/21/2025 10:00:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [uniqueidentifier] NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 11/21/2025 10:00:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[ActionType] [nvarchar](100) NOT NULL,
	[EntityName] [nvarchar](100) NULL,
	[EntityId] [uniqueidentifier] NULL,
	[Details] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deputies]    Script Date: 11/21/2025 10:00:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deputies](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Deputies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupRewardResults]    Script Date: 11/21/2025 10:00:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupRewardResults](
	[Id] [uniqueidentifier] NOT NULL,
	[PeriodId] [uniqueidentifier] NOT NULL,
	[GroupId] [uniqueidentifier] NOT NULL,
	[TechnicalScore] [decimal](6, 4) NOT NULL,
	[FinalCoefficient] [decimal](6, 4) NOT NULL,
	[EvaluatedMembers] [decimal](10, 4) NOT NULL,
	[RewardAmount] [decimal](18, 0) NOT NULL,
	[PerCapitaReward] [decimal](18, 0) NULL,
	[CalculatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_GroupRewardResults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Indicators]    Script Date: 11/21/2025 10:00:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Indicators](
	[Id] [uniqueidentifier] NOT NULL,
	[DeputyId] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Weight] [decimal](5, 4) NOT NULL,
	[MinValue] [decimal](5, 4) NOT NULL,
	[MaxValue] [decimal](5, 4) NOT NULL,
	[DataEntryUserId] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedById] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Indicators] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndicatorValues]    Script Date: 11/21/2025 10:00:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndicatorValues](
	[Id] [uniqueidentifier] NOT NULL,
	[PeriodId] [uniqueidentifier] NOT NULL,
	[GroupId] [uniqueidentifier] NOT NULL,
	[IndicatorId] [uniqueidentifier] NOT NULL,
	[Value] [decimal](5, 4) NOT NULL,
	[EnteredById] [uniqueidentifier] NOT NULL,
	[EnteredAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_IndicatorValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManagerialCoefficients]    Script Date: 11/21/2025 10:00:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagerialCoefficients](
	[Id] [uniqueidentifier] NOT NULL,
	[PeriodId] [uniqueidentifier] NOT NULL,
	[GroupId] [uniqueidentifier] NOT NULL,
	[Value] [decimal](5, 4) NOT NULL,
	[EnteredById] [uniqueidentifier] NOT NULL,
	[EnteredAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ManagerialCoefficients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PeriodGroupSnapshots]    Script Date: 11/21/2025 10:00:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeriodGroupSnapshots](
	[Id] [uniqueidentifier] NOT NULL,
	[PeriodId] [uniqueidentifier] NOT NULL,
	[GroupId] [uniqueidentifier] NOT NULL,
	[MemberCount] [int] NOT NULL,
	[VerifiedById] [uniqueidentifier] NULL,
	[VerifiedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_PeriodGroupSnapshots] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RewardPeriods]    Script Date: 11/21/2025 10:00:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RewardPeriods](
	[Id] [uniqueidentifier] NOT NULL,
	[DeputyId] [uniqueidentifier] NOT NULL,
	[Year] [int] NOT NULL,
	[Month] [tinyint] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[BudgetAmount] [decimal](18, 0) NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedById] [uniqueidentifier] NULL,
 CONSTRAINT [PK_RewardPeriods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecialtyGroups]    Script Date: 11/21/2025 10:00:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecialtyGroups](
	[Id] [uniqueidentifier] NOT NULL,
	[DeputyId] [uniqueidentifier] NOT NULL,
	[ErpGroupCode] [nvarchar](50) NULL,
	[Name] [nvarchar](200) NOT NULL,
	[ManagerUserId] [uniqueidentifier] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SpecialtyGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'67bdeb9c-3474-4d1a-235a-08de28cfd4b1', N'SystemAdmin', N'SYSTEMADMIN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'c4eae6cb-2be1-4eed-235b-08de28cfd4b1', N'Deputy', N'DEPUTY', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'abea7b18-1717-4ddb-235c-08de28cfd4b1', N'IndicatorDataEntry', N'INDICATORDATAENTRY', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0f53add0-9f3d-40c9-3f0b-08de28cfd4d8', N'67bdeb9c-3474-4d1a-235a-08de28cfd4b1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'85e3300e-b553-4d50-3f0c-08de28cfd4d8', N'c4eae6cb-2be1-4eed-235b-08de28cfd4b1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'c815ecf7-2084-481a-3f0d-08de28cfd4d8', N'abea7b18-1717-4ddb-235c-08de28cfd4b1')
GO
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'0f53add0-9f3d-40c9-3f0b-08de28cfd4d8', N'admin', N'ADMIN', N'admin@irisa.local', N'ADMIN@IRISA.LOCAL', 1, N'AQAAAAIAAYagAAAAED18htXzofjlWMc7N2xgNcWTr6lOz9xJ0UqoVD01X6yPAPudgufhH9FVHk4nHAj4mA==', N'S7JHS4YGN6G4ZLKW4DYO6SADWWSBBYZO', N'a4342425-752f-49c5-be91-21771c6f4b27', NULL, 0, 0, NULL, 1, 0)
GO
INSERT [dbo].[Deputies] ([Id], [Code], [Name], [IsActive], [CreatedAt]) VALUES (N'24b06b1c-a932-4ed0-83f7-8f8961478295', N'NIC', N'شبکه و زیرساخت', 1, CAST(N'2025-11-21T17:24:50.3366667' AS DateTime2))
INSERT [dbo].[Deputies] ([Id], [Code], [Name], [IsActive], [CreatedAt]) VALUES (N'14b2f94c-933f-4b91-9b99-9dbeb383a255', N'ISD', N'معاونت سیستم‌های اطلاعاتی', 1, CAST(N'2025-11-21T07:30:23.6966667' AS DateTime2))
GO
INSERT [dbo].[GroupRewardResults] ([Id], [PeriodId], [GroupId], [TechnicalScore], [FinalCoefficient], [EvaluatedMembers], [RewardAmount], [PerCapitaReward], [CalculatedAt]) VALUES (N'49ef3499-f756-4ab8-8647-9f73510dac2f', N'f4185753-7e8c-4358-8290-0b7907f825c9', N'372eb7ce-b70e-46fe-aa8b-0596bb979709', CAST(0.7225 AS Decimal(6, 4)), CAST(0.7716 AS Decimal(6, 4)), CAST(3.8581 AS Decimal(10, 4)), CAST(212750558 AS Decimal(18, 0)), CAST(55143511 AS Decimal(18, 0)), CAST(N'2025-11-21T18:20:51.7933333' AS DateTime2))
INSERT [dbo].[GroupRewardResults] ([Id], [PeriodId], [GroupId], [TechnicalScore], [FinalCoefficient], [EvaluatedMembers], [RewardAmount], [PerCapitaReward], [CalculatedAt]) VALUES (N'c3286b6e-c6bc-4aa9-9da4-a0f3030327a1', N'f4185753-7e8c-4358-8290-0b7907f825c9', N'50428085-c27b-40de-a6cb-fbe1e7f94c55', CAST(0.8425 AS Decimal(6, 4)), CAST(0.8811 AS Decimal(6, 4)), CAST(6.1679 AS Decimal(10, 4)), CAST(340118283 AS Decimal(18, 0)), CAST(55143511 AS Decimal(18, 0)), CAST(N'2025-11-21T18:20:51.7933333' AS DateTime2))
INSERT [dbo].[GroupRewardResults] ([Id], [PeriodId], [GroupId], [TechnicalScore], [FinalCoefficient], [EvaluatedMembers], [RewardAmount], [PerCapitaReward], [CalculatedAt]) VALUES (N'a3517823-a7e7-40e2-842d-a16d5da134f4', N'f4185753-7e8c-4358-8290-0b7907f825c9', N'8bf9daa8-1cf9-40ab-a0cf-7d9dd640c39c', CAST(0.6475 AS Decimal(6, 4)), CAST(0.6929 AS Decimal(6, 4)), CAST(2.7715 AS Decimal(10, 4)), CAST(152830241 AS Decimal(18, 0)), CAST(55143511 AS Decimal(18, 0)), CAST(N'2025-11-21T18:20:51.7933333' AS DateTime2))
GO
INSERT [dbo].[IndicatorValues] ([Id], [PeriodId], [GroupId], [IndicatorId], [Value], [EnteredById], [EnteredAt], [ModifiedAt]) VALUES (N'dd314aa3-b203-4aaa-a1b3-0e4885e0d474', N'f4185753-7e8c-4358-8290-0b7907f825c9', N'8bf9daa8-1cf9-40ab-a0cf-7d9dd640c39c', N'3de7b0f8-ad62-4278-ba70-662b49d5e08b', CAST(0.5500 AS Decimal(5, 4)), N'0f53add0-9f3d-40c9-3f0b-08de28cfd4d8', CAST(N'2025-11-21T07:30:23.7866667' AS DateTime2), NULL)
INSERT [dbo].[IndicatorValues] ([Id], [PeriodId], [GroupId], [IndicatorId], [Value], [EnteredById], [EnteredAt], [ModifiedAt]) VALUES (N'92ae36b5-94fe-4963-a436-21b2fff84e89', N'f4185753-7e8c-4358-8290-0b7907f825c9', N'50428085-c27b-40de-a6cb-fbe1e7f94c55', N'2e091c87-ae8c-4eca-880a-2c3ebdf74a69', CAST(0.8800 AS Decimal(5, 4)), N'0f53add0-9f3d-40c9-3f0b-08de28cfd4d8', CAST(N'2025-11-21T07:30:23.7800000' AS DateTime2), NULL)
INSERT [dbo].[IndicatorValues] ([Id], [PeriodId], [GroupId], [IndicatorId], [Value], [EnteredById], [EnteredAt], [ModifiedAt]) VALUES (N'0d6cc478-f246-44ce-b90f-22183fff6912', N'f4185753-7e8c-4358-8290-0b7907f825c9', N'372eb7ce-b70e-46fe-aa8b-0596bb979709', N'f0f9ae17-e27c-4094-8528-935b7a3c8ec7', CAST(0.8000 AS Decimal(5, 4)), N'0f53add0-9f3d-40c9-3f0b-08de28cfd4d8', CAST(N'2025-11-21T07:30:23.7700000' AS DateTime2), NULL)
GO
INSERT [dbo].[ManagerialCoefficients] ([Id], [PeriodId], [GroupId], [Value], [EnteredById], [EnteredAt], [ModifiedAt]) VALUES (N'be64b770-3f18-4e31-9603-3e36425bbe87', N'f4185753-7e8c-4358-8290-0b7907f825c9', N'372eb7ce-b70e-46fe-aa8b-0596bb979709', CAST(1.0500 AS Decimal(5, 4)), N'85e3300e-b553-4d50-3f0c-08de28cfd4d8', CAST(N'2025-11-21T07:30:23.7566667' AS DateTime2), NULL)
INSERT [dbo].[ManagerialCoefficients] ([Id], [PeriodId], [GroupId], [Value], [EnteredById], [EnteredAt], [ModifiedAt]) VALUES (N'4ec26f55-072b-4c84-9e50-98b5c04e0fbc', N'f4185753-7e8c-4358-8290-0b7907f825c9', N'abfb4568-e292-4218-850c-27488cb1cc28', CAST(1.0000 AS Decimal(5, 4)), N'85e3300e-b553-4d50-3f0c-08de28cfd4d8', CAST(N'2025-11-21T07:30:23.7633333' AS DateTime2), NULL)
INSERT [dbo].[ManagerialCoefficients] ([Id], [PeriodId], [GroupId], [Value], [EnteredById], [EnteredAt], [ModifiedAt]) VALUES (N'3ba3a0ec-8d5f-49fe-9917-b336f06f8f81', N'f4185753-7e8c-4358-8290-0b7907f825c9', N'50428085-c27b-40de-a6cb-fbe1e7f94c55', CAST(1.1000 AS Decimal(5, 4)), N'85e3300e-b553-4d50-3f0c-08de28cfd4d8', CAST(N'2025-11-21T07:30:23.7600000' AS DateTime2), NULL)
GO
INSERT [dbo].[PeriodGroupSnapshots] ([Id], [PeriodId], [GroupId], [MemberCount], [VerifiedById], [VerifiedAt]) VALUES (N'f16cae71-b8c4-4c48-93e6-472a30b27afd', N'f4185753-7e8c-4358-8290-0b7907f825c9', N'8bf9daa8-1cf9-40ab-a0cf-7d9dd640c39c', 4, N'85e3300e-b553-4d50-3f0c-08de28cfd4d8', CAST(N'2025-11-21T07:30:23.7533333' AS DateTime2))
INSERT [dbo].[PeriodGroupSnapshots] ([Id], [PeriodId], [GroupId], [MemberCount], [VerifiedById], [VerifiedAt]) VALUES (N'df477668-9b3a-4409-a78c-8b7045ebdd3a', N'f4185753-7e8c-4358-8290-0b7907f825c9', N'372eb7ce-b70e-46fe-aa8b-0596bb979709', 5, N'85e3300e-b553-4d50-3f0c-08de28cfd4d8', CAST(N'2025-11-21T07:30:23.7466667' AS DateTime2))
INSERT [dbo].[PeriodGroupSnapshots] ([Id], [PeriodId], [GroupId], [MemberCount], [VerifiedById], [VerifiedAt]) VALUES (N'bd211b71-ee15-489e-8fa4-a8641c1b44cd', N'f4185753-7e8c-4358-8290-0b7907f825c9', N'50428085-c27b-40de-a6cb-fbe1e7f94c55', 7, N'85e3300e-b553-4d50-3f0c-08de28cfd4d8', CAST(N'2025-11-21T07:30:23.7500000' AS DateTime2))
GO
INSERT [dbo].[RewardPeriods] ([Id], [DeputyId], [Year], [Month], [Title], [BudgetAmount], [IsLocked], [CreatedAt], [CreatedById]) VALUES (N'f4185753-7e8c-4358-8290-0b7907f825c9', N'14b2f94c-933f-4b91-9b99-9dbeb383a255', 1404, 6, N'شهریور 1404', CAST(1000000000 AS Decimal(18, 0)), 0, CAST(N'2025-11-21T07:30:23.7233333' AS DateTime2), N'85e3300e-b553-4d50-3f0c-08de28cfd4d8')
GO
INSERT [dbo].[SpecialtyGroups] ([Id], [DeputyId], [ErpGroupCode], [Name], [ManagerUserId], [IsActive], [CreatedAt]) VALUES (N'372eb7ce-b70e-46fe-aa8b-0596bb979709', N'14b2f94c-933f-4b91-9b99-9dbeb383a255', N'ACCT', N'گروه حسابداری', N'3c4a4531-049c-4451-3f11-08de28cfd4d8', 1, CAST(N'2025-11-21T07:30:23.7100000' AS DateTime2))
INSERT [dbo].[SpecialtyGroups] ([Id], [DeputyId], [ErpGroupCode], [Name], [ManagerUserId], [IsActive], [CreatedAt]) VALUES (N'abfb4568-e292-4218-850c-27488cb1cc28', N'14b2f94c-933f-4b91-9b99-9dbeb383a255', N'IT', N'گروه آی‌تی', N'82fd6096-7779-4feb-3f14-08de28cfd4d8', 1, CAST(N'2025-11-21T07:30:23.7200000' AS DateTime2))
INSERT [dbo].[SpecialtyGroups] ([Id], [DeputyId], [ErpGroupCode], [Name], [ManagerUserId], [IsActive], [CreatedAt]) VALUES (N'8bf9daa8-1cf9-40ab-a0cf-7d9dd640c39c', N'14b2f94c-933f-4b91-9b99-9dbeb383a255', N'COMM', N'گروه بازرگانی', N'6d81b62a-f822-413e-3f13-08de28cfd4d8', 1, CAST(N'2025-11-21T07:30:23.7166667' AS DateTime2))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_AspNetRoles_NormalizedName]    Script Date: 11/21/2025 10:00:03 PM ******/
ALTER TABLE [dbo].[AspNetRoles] ADD  CONSTRAINT [UQ_AspNetRoles_NormalizedName] UNIQUE NONCLUSTERED 
(
	[NormalizedName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_AspNetUsers_NormalizedUserName]    Script Date: 11/21/2025 10:00:03 PM ******/
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [UQ_AspNetUsers_NormalizedUserName] UNIQUE NONCLUSTERED 
(
	[NormalizedUserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Deputies_Code]    Script Date: 11/21/2025 10:00:03 PM ******/
ALTER TABLE [dbo].[Deputies] ADD  CONSTRAINT [UQ_Deputies_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_GRR_Period_Group]    Script Date: 11/21/2025 10:00:03 PM ******/
ALTER TABLE [dbo].[GroupRewardResults] ADD  CONSTRAINT [UQ_GRR_Period_Group] UNIQUE NONCLUSTERED 
(
	[PeriodId] ASC,
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Indicators_Deputy_Code]    Script Date: 11/21/2025 10:00:03 PM ******/
ALTER TABLE [dbo].[Indicators] ADD  CONSTRAINT [UQ_Indicators_Deputy_Code] UNIQUE NONCLUSTERED 
(
	[DeputyId] ASC,
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_IV_Period_Group_Indicator]    Script Date: 11/21/2025 10:00:03 PM ******/
ALTER TABLE [dbo].[IndicatorValues] ADD  CONSTRAINT [UQ_IV_Period_Group_Indicator] UNIQUE NONCLUSTERED 
(
	[PeriodId] ASC,
	[GroupId] ASC,
	[IndicatorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_MC_Period_Group]    Script Date: 11/21/2025 10:00:03 PM ******/
ALTER TABLE [dbo].[ManagerialCoefficients] ADD  CONSTRAINT [UQ_MC_Period_Group] UNIQUE NONCLUSTERED 
(
	[PeriodId] ASC,
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_PGS_Period_Group]    Script Date: 11/21/2025 10:00:03 PM ******/
ALTER TABLE [dbo].[PeriodGroupSnapshots] ADD  CONSTRAINT [UQ_PGS_Period_Group] UNIQUE NONCLUSTERED 
(
	[PeriodId] ASC,
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_RewardPeriods_Deputy_Year_Month]    Script Date: 11/21/2025 10:00:03 PM ******/
ALTER TABLE [dbo].[RewardPeriods] ADD  CONSTRAINT [UQ_RewardPeriods_Deputy_Year_Month] UNIQUE NONCLUSTERED 
(
	[DeputyId] ASC,
	[Year] ASC,
	[Month] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoles] ADD  CONSTRAINT [DF_AspNetRoles_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF_AspNetUsers_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF_AspNetUsers_EmailConfirmed]  DEFAULT ((0)) FOR [EmailConfirmed]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF_AspNetUsers_PhoneConfirmed]  DEFAULT ((0)) FOR [PhoneNumberConfirmed]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF_AspNetUsers_TwoFactor]  DEFAULT ((0)) FOR [TwoFactorEnabled]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF_AspNetUsers_LockoutEnabled]  DEFAULT ((1)) FOR [LockoutEnabled]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF_AspNetUsers_AccessFailedCount]  DEFAULT ((0)) FOR [AccessFailedCount]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  CONSTRAINT [DF_AuditLogs_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  CONSTRAINT [DF_AuditLogs_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Deputies] ADD  CONSTRAINT [DF_Deputies_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Deputies] ADD  CONSTRAINT [DF_Deputies_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Deputies] ADD  CONSTRAINT [DF_Deputies_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GroupRewardResults] ADD  CONSTRAINT [DF_GroupRewardResults_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[GroupRewardResults] ADD  CONSTRAINT [DF_GroupRewardResults_CalculatedAt]  DEFAULT (sysutcdatetime()) FOR [CalculatedAt]
GO
ALTER TABLE [dbo].[Indicators] ADD  CONSTRAINT [DF_Indicators_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Indicators] ADD  CONSTRAINT [DF_Indicators_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Indicators] ADD  CONSTRAINT [DF_Indicators_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Indicators] ADD  CONSTRAINT [DF_Indicators_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[IndicatorValues] ADD  CONSTRAINT [DF_IndicatorValues_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[IndicatorValues] ADD  CONSTRAINT [DF_IndicatorValues_EnteredAt]  DEFAULT (sysutcdatetime()) FOR [EnteredAt]
GO
ALTER TABLE [dbo].[ManagerialCoefficients] ADD  CONSTRAINT [DF_ManagerialCoefficients_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[ManagerialCoefficients] ADD  CONSTRAINT [DF_ManagerialCoefficients_EnteredAt]  DEFAULT (sysutcdatetime()) FOR [EnteredAt]
GO
ALTER TABLE [dbo].[PeriodGroupSnapshots] ADD  CONSTRAINT [DF_PeriodGroupSnapshots_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[RewardPeriods] ADD  CONSTRAINT [DF_RewardPeriods_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[RewardPeriods] ADD  CONSTRAINT [DF_RewardPeriods_IsLocked]  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[RewardPeriods] ADD  CONSTRAINT [DF_RewardPeriods_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SpecialtyGroups] ADD  CONSTRAINT [DF_SpecialtyGroups_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[SpecialtyGroups] ADD  CONSTRAINT [DF_SpecialtyGroups_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SpecialtyGroups] ADD  CONSTRAINT [DF_SpecialtyGroups_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_AspNetUsers]
GO
ALTER TABLE [dbo].[GroupRewardResults]  WITH CHECK ADD  CONSTRAINT [FK_GRR_Groups] FOREIGN KEY([GroupId])
REFERENCES [dbo].[SpecialtyGroups] ([Id])
GO
ALTER TABLE [dbo].[GroupRewardResults] CHECK CONSTRAINT [FK_GRR_Groups]
GO
ALTER TABLE [dbo].[GroupRewardResults]  WITH CHECK ADD  CONSTRAINT [FK_GRR_Periods] FOREIGN KEY([PeriodId])
REFERENCES [dbo].[RewardPeriods] ([Id])
GO
ALTER TABLE [dbo].[GroupRewardResults] CHECK CONSTRAINT [FK_GRR_Periods]
GO
ALTER TABLE [dbo].[Indicators]  WITH CHECK ADD  CONSTRAINT [FK_Indicators_AspNetUsers_CreatedBy] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Indicators] CHECK CONSTRAINT [FK_Indicators_AspNetUsers_CreatedBy]
GO
ALTER TABLE [dbo].[Indicators]  WITH CHECK ADD  CONSTRAINT [FK_Indicators_AspNetUsers_DataEntry] FOREIGN KEY([DataEntryUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Indicators] CHECK CONSTRAINT [FK_Indicators_AspNetUsers_DataEntry]
GO
ALTER TABLE [dbo].[Indicators]  WITH CHECK ADD  CONSTRAINT [FK_Indicators_Deputies] FOREIGN KEY([DeputyId])
REFERENCES [dbo].[Deputies] ([Id])
GO
ALTER TABLE [dbo].[Indicators] CHECK CONSTRAINT [FK_Indicators_Deputies]
GO
ALTER TABLE [dbo].[IndicatorValues]  WITH CHECK ADD  CONSTRAINT [FK_IV_AspNetUsers_EnteredBy] FOREIGN KEY([EnteredById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[IndicatorValues] CHECK CONSTRAINT [FK_IV_AspNetUsers_EnteredBy]
GO
ALTER TABLE [dbo].[IndicatorValues]  WITH CHECK ADD  CONSTRAINT [FK_IV_Groups] FOREIGN KEY([GroupId])
REFERENCES [dbo].[SpecialtyGroups] ([Id])
GO
ALTER TABLE [dbo].[IndicatorValues] CHECK CONSTRAINT [FK_IV_Groups]
GO
ALTER TABLE [dbo].[IndicatorValues]  WITH CHECK ADD  CONSTRAINT [FK_IV_Indicators] FOREIGN KEY([IndicatorId])
REFERENCES [dbo].[Indicators] ([Id])
GO
ALTER TABLE [dbo].[IndicatorValues] CHECK CONSTRAINT [FK_IV_Indicators]
GO
ALTER TABLE [dbo].[IndicatorValues]  WITH CHECK ADD  CONSTRAINT [FK_IV_Periods] FOREIGN KEY([PeriodId])
REFERENCES [dbo].[RewardPeriods] ([Id])
GO
ALTER TABLE [dbo].[IndicatorValues] CHECK CONSTRAINT [FK_IV_Periods]
GO
ALTER TABLE [dbo].[ManagerialCoefficients]  WITH CHECK ADD  CONSTRAINT [FK_MC_AspNetUsers_EnteredBy] FOREIGN KEY([EnteredById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ManagerialCoefficients] CHECK CONSTRAINT [FK_MC_AspNetUsers_EnteredBy]
GO
ALTER TABLE [dbo].[ManagerialCoefficients]  WITH CHECK ADD  CONSTRAINT [FK_MC_Groups] FOREIGN KEY([GroupId])
REFERENCES [dbo].[SpecialtyGroups] ([Id])
GO
ALTER TABLE [dbo].[ManagerialCoefficients] CHECK CONSTRAINT [FK_MC_Groups]
GO
ALTER TABLE [dbo].[ManagerialCoefficients]  WITH CHECK ADD  CONSTRAINT [FK_MC_Periods] FOREIGN KEY([PeriodId])
REFERENCES [dbo].[RewardPeriods] ([Id])
GO
ALTER TABLE [dbo].[ManagerialCoefficients] CHECK CONSTRAINT [FK_MC_Periods]
GO
ALTER TABLE [dbo].[PeriodGroupSnapshots]  WITH CHECK ADD  CONSTRAINT [FK_PGS_Groups] FOREIGN KEY([GroupId])
REFERENCES [dbo].[SpecialtyGroups] ([Id])
GO
ALTER TABLE [dbo].[PeriodGroupSnapshots] CHECK CONSTRAINT [FK_PGS_Groups]
GO
ALTER TABLE [dbo].[PeriodGroupSnapshots]  WITH CHECK ADD  CONSTRAINT [FK_PGS_Periods] FOREIGN KEY([PeriodId])
REFERENCES [dbo].[RewardPeriods] ([Id])
GO
ALTER TABLE [dbo].[PeriodGroupSnapshots] CHECK CONSTRAINT [FK_PGS_Periods]
GO
ALTER TABLE [dbo].[PeriodGroupSnapshots]  WITH CHECK ADD  CONSTRAINT [FK_PGS_VerifiedBy] FOREIGN KEY([VerifiedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[PeriodGroupSnapshots] CHECK CONSTRAINT [FK_PGS_VerifiedBy]
GO
ALTER TABLE [dbo].[RewardPeriods]  WITH CHECK ADD  CONSTRAINT [FK_RewardPeriods_AspNetUsers_CreatedBy] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[RewardPeriods] CHECK CONSTRAINT [FK_RewardPeriods_AspNetUsers_CreatedBy]
GO
ALTER TABLE [dbo].[RewardPeriods]  WITH CHECK ADD  CONSTRAINT [FK_RewardPeriods_Deputies_DeputyId] FOREIGN KEY([DeputyId])
REFERENCES [dbo].[Deputies] ([Id])
GO
ALTER TABLE [dbo].[RewardPeriods] CHECK CONSTRAINT [FK_RewardPeriods_Deputies_DeputyId]
GO
ALTER TABLE [dbo].[SpecialtyGroups]  WITH CHECK ADD  CONSTRAINT [FK_SpecialtyGroups_AspNetUsers_Manager] FOREIGN KEY([ManagerUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SpecialtyGroups] CHECK CONSTRAINT [FK_SpecialtyGroups_AspNetUsers_Manager]
GO
ALTER TABLE [dbo].[SpecialtyGroups]  WITH CHECK ADD  CONSTRAINT [FK_SpecialtyGroups_Deputies_DeputyId] FOREIGN KEY([DeputyId])
REFERENCES [dbo].[Deputies] ([Id])
GO
ALTER TABLE [dbo].[SpecialtyGroups] CHECK CONSTRAINT [FK_SpecialtyGroups_Deputies_DeputyId]
GO
/****** Object:  StoredProcedure [dbo].[ResetIrisaSpecialBonusData]    Script Date: 11/21/2025 10:00:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ResetIrisaSpecialBonusData]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        ------------------------------------------------
        -- 1) جداول دامنه (از فرزند به والد)
        ------------------------------------------------
        IF OBJECT_ID('dbo.AuditLogs', 'U') IS NOT NULL
            DELETE FROM dbo.AuditLogs;

        IF OBJECT_ID('dbo.GroupRewardResults', 'U') IS NOT NULL
            DELETE FROM dbo.GroupRewardResults;

        IF OBJECT_ID('dbo.IndicatorValues', 'U') IS NOT NULL
            DELETE FROM dbo.IndicatorValues;

        IF OBJECT_ID('dbo.ManagerialCoefficients', 'U') IS NOT NULL
            DELETE FROM dbo.ManagerialCoefficients;

        IF OBJECT_ID('dbo.PeriodGroupSnapshots', 'U') IS NOT NULL
            DELETE FROM dbo.PeriodGroupSnapshots;

        IF OBJECT_ID('dbo.Indicators', 'U') IS NOT NULL
            DELETE FROM dbo.Indicators;

        IF OBJECT_ID('dbo.RewardPeriods', 'U') IS NOT NULL
            DELETE FROM dbo.RewardPeriods;

        IF OBJECT_ID('dbo.SpecialtyGroups', 'U') IS NOT NULL
            DELETE FROM dbo.SpecialtyGroups;

        IF OBJECT_ID('dbo.Deputies', 'U') IS NOT NULL
            DELETE FROM dbo.Deputies;

        ------------------------------------------------
        -- 2) جداول Identity (از فرزند به والد)
        ------------------------------------------------
        IF OBJECT_ID('dbo.AspNetUserTokens', 'U') IS NOT NULL
            DELETE FROM dbo.AspNetUserTokens;

        IF OBJECT_ID('dbo.AspNetUserLogins', 'U') IS NOT NULL
            DELETE FROM dbo.AspNetUserLogins;

        IF OBJECT_ID('dbo.AspNetUserClaims', 'U') IS NOT NULL
            DELETE FROM dbo.AspNetUserClaims;

        IF OBJECT_ID('dbo.AspNetUserRoles', 'U') IS NOT NULL
            DELETE FROM dbo.AspNetUserRoles;

        IF OBJECT_ID('dbo.AspNetRoleClaims', 'U') IS NOT NULL
            DELETE FROM dbo.AspNetRoleClaims;

        IF OBJECT_ID('dbo.AspNetRoles', 'U') IS NOT NULL
            DELETE FROM dbo.AspNetRoles;

        IF OBJECT_ID('dbo.AspNetUsers', 'U') IS NOT NULL
            DELETE FROM dbo.AspNetUsers;

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRAN;

        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE(),
                @ErrSeverity INT = ERROR_SEVERITY(),
                @ErrState INT = ERROR_STATE();

        RAISERROR(N'Error in ResetIrisaSpecialBonusData: %s', @ErrSeverity, @ErrState, @ErrMsg);
    END CATCH
END

GO
USE [master]
GO
